* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: beige;
    padding-top: 100px;

}
header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;


}

header img{
    height: 56px;
    margin-right: 16px;

}

header h1{
    font-size: 40px;
    font-weight: bold;

}
.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

}

form{
    display: flex;
    max-width: 740px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    
}

form input{
    font-size: 24px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;

}

form button{
    background-color: greenyellow;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;


}

table{
    width: 100%;

}

table th{
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;

}

table td{
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;


}

table td img{
    height: 36px;

}

#contato-salvo{
    height: 24px;
    margin-right: 16px;
    

}

.contatoSalvo{
    padding: 8px;
    font-weight: bold;
    border-radius: 3px;
}